*{
    margin:0;
    padding:0;
    color:white;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: black;
}
.displayNav{
    display: flex;
    justify-content: space-between;
}
nav{
    border:2px solid white;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    font-size: 20px;
}
.itemRight{
    width:20%;
}
.itemRight>div{
    margin:0 10px;
}
main{
    padding:10% 20%;
    display: flex;
    flex-direction: column;

}
.signup{
    font-size: 40px;
    margin-bottom: 10px;
}
input{
    background-color: inherit;
    height:40px;
    margin:20px 0;
    border:none;
    font-size: 18px;
    border-bottom: 1px solid white;
}
input::placeholder{
    color:white;
    font-size: 18px;
}
input:focus { outline: none; } 
button{
    color:black;
    width:100px;
    height:30px;
}
#success{
    color:greenyellow;
    height:40px;
    display: none;

}
#failure{
    color: red;
    height:40px;
    display: none;
}
/* ////////////////Profile//////////////////// */
.proMain>div{
    margin:10px 0;
    font-size: 40px;
}
.profile{
    font-size: 50px;
}